USE [ReactBudget]
GO
/****** Object:  Table [dbo].[Budgets]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budgets](
	[BudgetID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Username] [varchar](17) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
	[PeriodStart] [date] NOT NULL,
	[PeriodEnd] [date] NOT NULL,
	[Amount] [float] NOT NULL,
	[Currency] [varchar](10) NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[LastEdit] [datetime] NOT NULL,
 CONSTRAINT [PK_Budgets] PRIMARY KEY CLUSTERED 
(
	[BudgetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Budgets_UserCategoryPeriod] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[CategoryName] ASC,
	[PeriodStart] ASC,
	[PeriodEnd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryWindows]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryWindows](
	[WindowID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Username] [varchar](17) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
	[DisplayName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[ColorTheme] [varchar](20) NULL,
	[PositionX] [int] NOT NULL,
	[PositionY] [int] NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[IsMinimized] [bit] NOT NULL,
	[ZIndex] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[LastEdit] [datetime] NOT NULL,
	[TableName] [varchar](20) NULL,
 CONSTRAINT [PK_CategoryWindows] PRIMARY KEY CLUSTERED 
(
	[WindowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Income]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Income](
	[Username] [varchar](17) NOT NULL,
	[Description] [varchar](45) NULL,
	[Net] [float] NULL,
	[Gross] [float] NULL,
	[Tithe] [float] NULL,
	[TitheStatus] [varchar](45) NULL,
	[Date] [varchar](45) NULL,
	[PaycheckStatus] [varchar](45) NULL,
	[CreationTime] [datetime] NOT NULL,
	[IncomeId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[LastEdit] [datetime] NULL,
	[Notes] [varchar](max) NULL,
 CONSTRAINT [PK_Income] PRIMARY KEY CLUSTERED 
(
	[IncomeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecurringItems]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecurringItems](
	[RecurringID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Username] [varchar](17) NOT NULL,
	[ItemType] [varchar](10) NOT NULL,
	[Description] [varchar](150) NULL,
	[TableName] [varchar](50) NULL,
	[Amount] [float] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Frequency] [varchar](20) NOT NULL,
	[Interval] [int] NOT NULL,
	[NextOccurrence] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[LastEdit] [datetime] NOT NULL,
	[Notes] [varchar](255) NULL,
 CONSTRAINT [PK_RecurringItems] PRIMARY KEY CLUSTERED 
(
	[RecurringID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedViews]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedViews](
	[SavedViewID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[FilterConfig] [nvarchar](max) NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[LastEdit] [datetime] NOT NULL,
 CONSTRAINT [PK_SavedViews] PRIMARY KEY CLUSTERED 
(
	[SavedViewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Username] [varchar](17) NOT NULL,
	[TableName] [varchar](20) NOT NULL,
	[Description] [varchar](150) NULL,
	[Amount] [float] NULL,
	[Due] [datetime] NULL,
	[Date] [datetime] NULL,
	[Notes] [varchar](60) NULL,
	[Category] [varchar](20) NULL,
	[Status] [varchar](20) NULL,
	[CreationTime] [datetime] NOT NULL,
	[TransactionId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[LastEdit] [datetime] NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [varchar](17) NOT NULL,
	[Pass] [varchar](128) NOT NULL,
	[Email] [varchar](45) NOT NULL,
	[Name] [varchar](25) NULL,
	[Validated] [tinyint] NULL,
	[CreationTime] [datetime] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ValidationCode] [uniqueidentifier] NULL,
	[ValidationExpires] [datetime] NULL,
	[LastEdit] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT (newsequentialid()) FOR [BudgetID]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT (getdate()) FOR [LastEdit]
GO
ALTER TABLE [dbo].[CategoryWindows] ADD  DEFAULT (newid()) FOR [WindowID]
GO
ALTER TABLE [dbo].[CategoryWindows] ADD  DEFAULT ('blue') FOR [ColorTheme]
GO
ALTER TABLE [dbo].[CategoryWindows] ADD  DEFAULT ((100)) FOR [PositionX]
GO
ALTER TABLE [dbo].[CategoryWindows] ADD  DEFAULT ((100)) FOR [PositionY]
GO
ALTER TABLE [dbo].[CategoryWindows] ADD  DEFAULT ((300)) FOR [Width]
GO
ALTER TABLE [dbo].[CategoryWindows] ADD  DEFAULT ((200)) FOR [Height]
GO
ALTER TABLE [dbo].[CategoryWindows] ADD  DEFAULT ((0)) FOR [IsMinimized]
GO
ALTER TABLE [dbo].[CategoryWindows] ADD  DEFAULT ((1)) FOR [ZIndex]
GO
ALTER TABLE [dbo].[CategoryWindows] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CategoryWindows] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[CategoryWindows] ADD  DEFAULT (getdate()) FOR [LastEdit]
GO
ALTER TABLE [dbo].[Income] ADD  CONSTRAINT [DF_Income_CreationTime]  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Income] ADD  CONSTRAINT [DF_Income_IncomeId]  DEFAULT (newsequentialid()) FOR [IncomeId]
GO
ALTER TABLE [dbo].[RecurringItems] ADD  DEFAULT (newsequentialid()) FOR [RecurringID]
GO
ALTER TABLE [dbo].[RecurringItems] ADD  DEFAULT ((1)) FOR [Interval]
GO
ALTER TABLE [dbo].[RecurringItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RecurringItems] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[RecurringItems] ADD  DEFAULT (getdate()) FOR [LastEdit]
GO
ALTER TABLE [dbo].[SavedViews] ADD  DEFAULT (newsequentialid()) FOR [SavedViewID]
GO
ALTER TABLE [dbo].[SavedViews] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[SavedViews] ADD  DEFAULT (getdate()) FOR [LastEdit]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_CreationTime]  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_TransactionId]  DEFAULT (newsequentialid()) FOR [TransactionId]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreationTime]  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UserId]  DEFAULT (newsequentialid()) FOR [UserId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [ValidationCode]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_LastEdit]  DEFAULT (getdate()) FOR [LastEdit]
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD  CONSTRAINT [FK_Budgets_Users_UserId] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Budgets] CHECK CONSTRAINT [FK_Budgets_Users_UserId]
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD  CONSTRAINT [FK_Budgets_Users_Username] FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Budgets] CHECK CONSTRAINT [FK_Budgets_Users_Username]
GO
ALTER TABLE [dbo].[CategoryWindows]  WITH CHECK ADD  CONSTRAINT [FK_CategoryWindows_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CategoryWindows] CHECK CONSTRAINT [FK_CategoryWindows_Users]
GO
ALTER TABLE [dbo].[CategoryWindows]  WITH CHECK ADD  CONSTRAINT [FK_CategoryWindows_Users_Username] FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[CategoryWindows] CHECK CONSTRAINT [FK_CategoryWindows_Users_Username]
GO
ALTER TABLE [dbo].[Income]  WITH CHECK ADD  CONSTRAINT [FK_Income_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Income] CHECK CONSTRAINT [FK_Income_Users_UserId]
GO
ALTER TABLE [dbo].[Income]  WITH CHECK ADD  CONSTRAINT [FK_Income_Users_Username] FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Income] CHECK CONSTRAINT [FK_Income_Users_Username]
GO
ALTER TABLE [dbo].[RecurringItems]  WITH CHECK ADD  CONSTRAINT [FK_RecurringItems_Users_UserId] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RecurringItems] CHECK CONSTRAINT [FK_RecurringItems_Users_UserId]
GO
ALTER TABLE [dbo].[RecurringItems]  WITH CHECK ADD  CONSTRAINT [FK_RecurringItems_Users_Username] FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[RecurringItems] CHECK CONSTRAINT [FK_RecurringItems_Users_Username]
GO
ALTER TABLE [dbo].[SavedViews]  WITH CHECK ADD  CONSTRAINT [FK_SavedViews_Users_UserId] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SavedViews] CHECK CONSTRAINT [FK_SavedViews_Users_UserId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users_UserId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users_Username] FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users_Username]
GO
/****** Object:  StoredProcedure [dbo].[spmb_CreateCategoryWindow]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create new category window
CREATE   PROCEDURE [dbo].[spmb_CreateCategoryWindow]
    @UserID UNIQUEIDENTIFIER,
    @Username VARCHAR(17),
    @CategoryName VARCHAR(50),
    @DisplayName VARCHAR(100),
    @Description VARCHAR(255) = NULL,
    @ColorTheme VARCHAR(20) = 'blue',
    @PositionX INT = 100,
    @PositionY INT = 100,
    @Width INT = 300,
    @Height INT = 200
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @WindowID UNIQUEIDENTIFIER = NEWID();
    DECLARE @MaxZIndex INT;
    
    -- Get the highest Z-index for this user
    SELECT @MaxZIndex = ISNULL(MAX(ZIndex), 0) + 1
    FROM CategoryWindows 
    WHERE UserID = @UserID;
    
    INSERT INTO CategoryWindows (
        WindowID, UserID, Username, CategoryName, DisplayName, 
        Description, ColorTheme, PositionX, PositionY, 
        Width, Height, ZIndex
    )
    VALUES (
        @WindowID, @UserID, @Username, @CategoryName, @DisplayName,
        @Description, @ColorTheme, @PositionX, @PositionY,
        @Width, @Height, @MaxZIndex
    );
    
    SELECT 
        CAST(1 AS BIT) AS Success,
        'Category window created successfully.' AS Message,
        @WindowID AS NewWindowID;
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_DeleteCategoryWindow]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete category window
CREATE   PROCEDURE [dbo].[spmb_DeleteCategoryWindow]
    @WindowID UNIQUEIDENTIFIER,
    @UserID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Check if window exists and belongs to user
    IF NOT EXISTS (SELECT 1 FROM CategoryWindows WHERE WindowID = @WindowID AND UserID = @UserID)
    BEGIN
        SELECT 
            CAST(0 AS BIT) AS Success,
            'Category window not found or access denied.' AS Message;
        RETURN;
    END
    
    -- Soft delete by setting IsActive to 0
    UPDATE CategoryWindows
    SET 
        IsActive = 0,
        LastEdit = GETDATE()
    WHERE WindowID = @WindowID;
    
    SELECT 
        CAST(1 AS BIT) AS Success,
        'Category window deleted successfully.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_DeleteIncome]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Delete income by ID
CREATE   PROCEDURE [dbo].[spmb_DeleteIncome]
    @IncomeId UNIQUEIDENTIFIER,
    @UserID   UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
	
    BEGIN TRY
        DELETE FROM dbo.Income
        WHERE IncomeId = @IncomeId AND UserID = @UserID;

        IF @@ROWCOUNT = 0
        BEGIN
            SELECT 0 AS Success, 'No matching income record found.' AS Message;
            RETURN;
        END

        SELECT 1 AS Success, 'Income deleted successfully.' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
    END CATCH
END;


GO
/****** Object:  StoredProcedure [dbo].[spmb_DeleteTransaction]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete transaction by ID
CREATE   PROCEDURE [dbo].[spmb_DeleteTransaction]
    @TransactionId UNIQUEIDENTIFIER,
    @UserID        UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DELETE FROM dbo.Transactions
        WHERE TransactionId = @TransactionId AND UserID = @UserID;

        IF @@ROWCOUNT = 0
        BEGIN
            SELECT 0 AS Success, 'No matching transaction found.' AS Message;
            RETURN;
        END

        SELECT 1 AS Success, 'Transaction deleted successfully.' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
    END CATCH
END;


GO
/****** Object:  StoredProcedure [dbo].[spmb_DeleteUser]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete user
CREATE   PROCEDURE [dbo].[spmb_DeleteUser]
    @UserId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DELETE FROM dbo.Users WHERE UserId = @UserId;

        IF @@ROWCOUNT = 0
        BEGIN
            SELECT 0 AS Success, 'User not found.' AS Message;
            RETURN;
        END

        SELECT 1 AS Success, 'User deleted successfully.' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[spmb_GetCategoryWindows]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get all category windows for a user
CREATE   PROCEDURE [dbo].[spmb_GetCategoryWindows]
    @UserID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        WindowID,
        CategoryName,
        DisplayName,
        Description,
        ColorTheme,
        PositionX,
        PositionY,
        Width,
        Height,
        IsMinimized,
        ZIndex,
        IsActive,
        CreationTime,
        LastEdit
    FROM CategoryWindows
    WHERE UserID = @UserID AND IsActive = 1
    ORDER BY ZIndex DESC, CreationTime ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_GetDashboardStats]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spmb_GetDashboardStats]
    @UserId UNIQUEIDENTIFIER,
    @StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- If no dates provided, use current month
    IF @StartDate IS NULL
        SET @StartDate = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1)
    IF @EndDate IS NULL
        SET @EndDate = EOMONTH(GETDATE())
    
    -- Result Set 1: Income Statistics
    SELECT 
        ISNULL(SUM(Gross), 0) AS totalGross,
        ISNULL(SUM(Net), 0) AS totalNet,
        ISNULL(SUM(Tithe), 0) AS totalTithe,
        COUNT(*) AS incomeCount
    FROM Income 
    WHERE UserId = @UserId 
        AND (TRY_CAST(Date AS DATE) BETWEEN @StartDate AND @EndDate
             OR CAST(CreationTime AS DATE) BETWEEN @StartDate AND @EndDate);
    
    -- Result Set 2: Category Statistics
    SELECT 
        TableName,
        ISNULL(SUM(Amount), 0) AS totalAmount,
        COUNT(*) AS transactionCount
    FROM Transactions 
    WHERE UserId = @UserId 
        AND CAST(CreationTime AS DATE) BETWEEN @StartDate AND @EndDate
    GROUP BY TableName
    ORDER BY totalAmount DESC;
    
    -- Result Set 3: Recent Transactions (last 5)
    SELECT TOP 5
        TransactionId,
        Username,
        TableName,
        Description,
        Amount,
        Date,
        CreationTime
    FROM Transactions
    WHERE UserId = @UserId
    ORDER BY CreationTime DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[spmb_GetIncomeById]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get a single income record
CREATE     PROCEDURE [dbo].[spmb_GetIncomeById]
    @IncomeID UNIQUEIDENTIFIER,
	@UserID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        Username,
        Description,
        Net,
        Gross,
        Tithe,
        TitheStatus,
        Date AS [RecordedDate],
        PaycheckStatus,
        CreationTime,
        IncomeId
    FROM dbo.Income
    WHERE IncomeId = @IncomeId
	AND UserID = @UserID;
END;

GO
/****** Object:  StoredProcedure [dbo].[spmb_GetIncomeByUsernameAndDate]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spmb_GetIncomeByUsernameAndDate]
    @UserId UNIQUEIDENTIFIER,
	@StartDate DATETIME = NULL,
	@EndDate DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

	    IF @StartDate IS NULL
        SET @StartDate = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);

		IF @EndDate IS NULL
        SET @EndDate = EOMONTH(GETDATE());

    SELECT
        IncomeId,
        Username,
        Description,
        Net,
        Gross,
        Tithe,
        TitheStatus,
        Date,
        PaycheckStatus,
        CreationTime
    FROM
        dbo.Income i
    WHERE
        UserID = @UserID
	AND
		Date BETWEEN @StartDate AND @EndDate
    ORDER BY
        CreationTime DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_GetTablesForUser]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spmb_GetTablesForUser]
    @UserID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT TableName
    FROM Transactions
    WHERE UserID = @UserID
    ORDER BY TableName;
END;






GO
/****** Object:  StoredProcedure [dbo].[spmb_GetTransactionById]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get a single transaction
CREATE     PROCEDURE [dbo].[spmb_GetTransactionById]
    @TransactionId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        Username,
        TableName,
        Description,
        Amount,
        Due,
        Date AS [RecordedDate],
        Notes,
        Category,
        Status,
        CreationTime,
        TransactionId
    FROM dbo.Transactions
    WHERE TransactionId = @TransactionId;
END;

GO
/****** Object:  StoredProcedure [dbo].[spmb_GetTransactionsByUserID]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spmb_GetTransactionsByUserID]    
	@UserId UNIQUEIDENTIFIER,
    @TableName NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        TransactionId,
        Username,
        TableName,
        Description,
        Amount,
        Due,
        Date,
        Notes,
        Category,
        Status,
        CreationTime
    FROM
        dbo.Transactions
    WHERE
        UserID = @UserId
        AND (@TableName IS NULL OR TableName = @TableName)
    ORDER BY
        CreationTime DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[spmb_GetUserById]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get by UserId
CREATE   PROCEDURE [dbo].[spmb_GetUserById]
    @UserId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        Username,
        Pass,
        Email,
        Name,
        Validated,
        ValidationCode,
        CreationTime,
        UserId
    FROM dbo.Users
    WHERE UserId = @UserId;
END;

GO
/****** Object:  StoredProcedure [dbo].[spmb_GetUserStatsWithCategories]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[spmb_GetUserStatsWithCategories]
    @UserId UNIQUEIDENTIFIER,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TotalIncome DECIMAL(18,2) = (
        SELECT ISNULL(SUM(Net), 0)
        FROM Income
        WHERE UserID = @UserId
          AND Date BETWEEN @StartDate AND @EndDate
    );

    DECLARE @TotalExpenses DECIMAL(18,2) = (
        SELECT ISNULL(SUM(Amount), 0)
        FROM Transactions
        WHERE UserID = @UserId
          AND Date BETWEEN @StartDate AND @EndDate
    );

    DECLARE @SavingsRate DECIMAL(5,2) =
        CASE
            WHEN @TotalIncome = 0 THEN 0
            ELSE ROUND((@TotalIncome - @TotalExpenses) / NULLIF(@TotalIncome, 0) * 100, 2)
        END;

    DECLARE @Balance DECIMAL(18,2) = @TotalIncome - @TotalExpenses;

    SELECT
        @TotalIncome AS TotalIncome,
        @TotalExpenses AS TotalExpenses,
        @SavingsRate AS SavingsRate,
        @Balance AS Balance,
        (
            SELECT
                TableName,
                ISNULL(SUM(Amount), 0) AS TotalExpenses
            FROM Transactions
            WHERE UserID = @UserID
              AND Date BETWEEN @StartDate AND @EndDate
            GROUP BY TableName
            FOR JSON PATH
        ) AS ExpenseBreakdown
    FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_GetValidationInfo]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get validation code and CreationTime (acting as TransID)
CREATE   PROCEDURE [dbo].[spmb_GetValidationInfo]
    @UserID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT ValidationCode, CreationTime
    FROM dbo.Users
    WHERE UserID = @UserID;
END;

GO
/****** Object:  StoredProcedure [dbo].[spmb_GetWindowTransactions]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get transactions for a specific category window
CREATE   PROCEDURE [dbo].[spmb_GetWindowTransactions]
    @UserID UNIQUEIDENTIFIER,
    @CategoryName VARCHAR(50),
    @StartDate DATE = NULL,
    @EndDate DATE = NULL,
    @Limit INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (ISNULL(@Limit, 1000))
        TransactionId,
        Description,
        Amount,
        Date,
        Due,
        Notes,
        Category,
        Status,
        CreationTime
    FROM Transactions
    WHERE UserID = @UserID 
        AND TableName = @CategoryName
        AND (@StartDate IS NULL OR Date >= @StartDate)
        AND (@EndDate IS NULL OR Date <= @EndDate)
    ORDER BY Date DESC, CreationTime DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_GrantExecToSprbProcs]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spmb_GrantExecToSprbProcs]
    @LoginName SYSNAME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ProcName SYSNAME;
    DECLARE @Sql NVARCHAR(MAX);

    DECLARE cur CURSOR FOR
        SELECT name
        FROM sys.procedures
        WHERE schema_id = SCHEMA_ID('dbo')
          AND name LIKE 'sprb%';

    OPEN cur;
    FETCH NEXT FROM cur INTO @ProcName;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @Sql = 'GRANT EXECUTE ON dbo.[' + @ProcName + '] TO [' + @LoginName + '];';
        EXEC sp_executesql @Sql;

        FETCH NEXT FROM cur INTO @ProcName;
    END

    CLOSE cur;
    DEALLOCATE cur;
END;

GO
/****** Object:  StoredProcedure [dbo].[spmb_InsertIncome]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insert new income
CREATE   PROCEDURE [dbo].[spmb_InsertIncome]
    @Username       VARCHAR(17),
	@UserID			UNIQUEIDENTIFIER,
    @Description    VARCHAR(45) = NULL,
    @Net            FLOAT       = NULL,
    @Gross          FLOAT       = NULL,
    @Tithe          FLOAT       = NULL,
    @TitheStatus    VARCHAR(45) = NULL,
    @Date           VARCHAR(45) = NULL,
    @PaycheckStatus VARCHAR(45) = NULL
AS
BEGIN
    SET NOCOUNT ON;

	DECLARE @NewId UNIQUEIDENTIFIER = NEWID();

    INSERT INTO dbo.Income
        (Username, Description, Net, Gross, Tithe, TitheStatus, Date, PaycheckStatus, CreationTime, IncomeID, UserID)
    VALUES
        (@Username, @Description, @Net, @Gross, @Tithe, @TitheStatus, @Date, @PaycheckStatus, GetDate(), @NewID, @UserID);

    -- Return new IncomeId
	
    SELECT @NewID as NewIncomeID
END;

GO
/****** Object:  StoredProcedure [dbo].[spmb_InsertTransaction]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spmb_InsertTransaction]
    @UserID		 UNIQUEIDENTIFIER,
	@Username    VARCHAR(17),
    @TableName   VARCHAR(20),
    @Description VARCHAR(150) = NULL,  -- Updated from VARCHAR(35) to VARCHAR(150)
    @Amount      FLOAT       = NULL,
    @Due         DATETIME    = NULL,
    @Date        DATETIME    = NULL,
    @Notes       VARCHAR(60) = NULL,
    @Category    VARCHAR(20) = NULL,
    @Status      VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

	DECLARE @NewId UNIQUEIDENTIFIER = NEWID();

    INSERT INTO dbo.Transactions
        (Username, TableName, Description, Amount, Due, Date, Notes, Category, Status, CreationTime, TransactionId, UserID)
    VALUES
        (@Username, @TableName, @Description, @Amount, @Due, @Date, @Notes, @Category, @Status, GetDate(), @NewID, @UserID);

    -- Return new TransactionId
    SELECT @NewId AS NewTransactionId;
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_InsertUser]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Register new user
CREATE   PROCEDURE [dbo].[spmb_InsertUser]
    @Username       VARCHAR(17),
    @Pass           VARCHAR(16),
    @Email          VARCHAR(45),
    @Name           VARCHAR(25)  = NULL
AS
BEGIN
    SET NOCOUNT ON;

	Declare 
			@DoesUserExist	INT = 0,
			@Success		INT = 0,
			@DoesEmailExist INT = 0,
			@Message		VARCHAR(MAX),
			@NewUserId		UNIQUEIDENTIFIER,
			@NewValidationCode UNIQUEIDENTIFIER
	   
	SET @DoesUserExist = (
		SELECT COUNT(*) FROM dbo.Users WHERE Username = @Username
	);
	SET @DoesEmailExist = (
		SELECT COUNT(*) FROM dbo.Users WHERE Email = @Email
	);

	-- Abort if user or email exists
    IF @DoesUserExist > 0
    BEGIN
        SELECT 0 AS Success, 'Username already exists.' AS Message, NULL AS UserId;
        RETURN;
    END

    IF @DoesEmailExist > 0
    BEGIN
        SELECT 0 AS Success, 'Email already registered.' AS Message, NULL AS UserId;
        RETURN;
    END

	SET @NewUserId = NEWID();
	SET @NewValidationCode = NEWID();

	BEGIN TRY
		INSERT INTO dbo.Users
			(Username, Pass, Email, Name, Validated, ValidationCode, ValidationExpires, CreationTime, UserID)
		VALUES
			(@Username, @Pass, @Email, @Name, 0, @NewValidationCode, DATEADD(MINUTE, 15, GETDATE()), GETDATE(), @NewUserId);
	END TRY
	BEGIN CATCH
	    SELECT 0 AS Success, 
           ERROR_MESSAGE() AS Message, 
           NULL AS UserId, 
           NULL AS ValidationCode;
		RETURN;
	END CATCH
    -- Optionally return the new UserId
    SELECT 1 AS Success, 
	'User created successfully.' AS Message, 
	@NewUserId AS UserId,
	@NewValidationCode as ValidationCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_LoginUserWithEmail]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spmb_LoginUserWithEmail]
	@Email varchar(50),
    @Password VARCHAR(16)
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE 
    @UserId UNIQUEIDENTIFIER,
    @Validated INT;

    SELECT 
        @UserId = UserId,
        @Validated = Validated
    FROM dbo.Users
    WHERE Email = @Email AND Pass = @Password;

	IF @UserId IS NULL
    BEGIN
        SELECT 
            0 AS Success,
            'Invalid username or password.' AS Message,
            NULL AS UserId,
            NULL AS Username,
            NULL AS Name,
            NULL AS Email;
        RETURN;
    END

	IF ISNULL(@Validated, 0) = 0
    BEGIN
        SELECT 
            0 AS Success,
            'User has not been validated.' AS Message,
            NULL AS UserId,
            NULL AS Username,
            NULL AS Name,
            NULL AS Email;
        RETURN;
    END

    SELECT 
        CAST(1 AS BIT) AS Success,
        'Login successful.' AS Message,
        UserId,
        Username,
        Name,
        Email
    FROM dbo.Users
    WHERE UserId = @UserId;
END;

GO
/****** Object:  StoredProcedure [dbo].[spmb_LoginUserWithUsername]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spmb_LoginUserWithUsername]
    @Username VARCHAR(17),
    @Password VARCHAR(16)
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE 
    @UserId UNIQUEIDENTIFIER,
    @Validated INT;

    SELECT 
        @UserId = UserId,
        @Validated = Validated
    FROM dbo.Users
    WHERE Username = @Username AND Pass = @Password;

	IF @UserId IS NULL
    BEGIN
        SELECT 
            0 AS Success,
            'Invalid username or password.' AS Message,
            NULL AS UserId,
            NULL AS Username,
            NULL AS Name,
            NULL AS Email;
        RETURN;
    END

	IF ISNULL(@Validated, 0) = 0
    BEGIN
        SELECT 
            0 AS Success,
            'User has not been validated.' AS Message,
            NULL AS UserId,
            NULL AS Username,
            NULL AS Name,
            NULL AS Email;
        RETURN;
    END

    SELECT 
        1 AS Success,
        'Login successful.' AS Message,
        UserId,
        Username,
        Name,
        Email
    FROM dbo.Users
    WHERE UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_RegisterUser]    Script Date: 11/28/2025 6:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Register new user
CREATE   PROCEDURE [dbo].[spmb_RegisterUser]
    @UsernameOrEmail VARCHAR(50),
    @Pass            VARCHAR(16),
    @ValidationCode  UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @UserId		UNIQUEIDENTIFIER,
        @Validated	INT,
		@ExpireDate		DATETIME;

    -- Try to find the user by username or email
    SELECT 
        @UserId		= UserId,
        @Validated	= Validated,
		@ExpireDate		= ValidationExpires
    FROM dbo.Users
    WHERE (Username = @UsernameOrEmail OR Email = @UsernameOrEmail)
      AND Pass = @Pass
      AND ValidationCode = @ValidationCode;

    IF @UserId IS NULL
    BEGIN
        SELECT 
            0 AS Success,
            'Invalid registration credentials or code.' AS Message;
        RETURN;
    END

    IF ISNULL(@Validated, 0) = 1
    BEGIN
        SELECT 
            0 AS Success,
            'User is already validated.' AS Message;
        RETURN;
    END
		
    IF @ExpireDate IS NOT NULL AND @ExpireDate < GETDATE()
    BEGIN
        SELECT 
            0 AS Success,
            'Validation code has expired.' AS Message;
        RETURN;
    END

    -- Validate the user
    UPDATE dbo.Users
    SET Validated = 1
    WHERE UserId = @UserId;

    SELECT 
        1 AS Success,
        'User validated successfully.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_UpdateCategoryWindow]    Script Date: 11/28/2025 6:08:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update category window position and properties
CREATE   PROCEDURE [dbo].[spmb_UpdateCategoryWindow]
    @WindowID UNIQUEIDENTIFIER,
    @UserID UNIQUEIDENTIFIER,
    @DisplayName VARCHAR(100) = NULL,
    @Description VARCHAR(255) = NULL,
    @ColorTheme VARCHAR(20) = NULL,
    @PositionX INT = NULL,
    @PositionY INT = NULL,
    @Width INT = NULL,
    @Height INT = NULL,
    @IsMinimized BIT = NULL,
    @ZIndex INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Check if window exists and belongs to user
    IF NOT EXISTS (SELECT 1 FROM CategoryWindows WHERE WindowID = @WindowID AND UserID = @UserID)
    BEGIN
        SELECT 
            CAST(0 AS BIT) AS Success,
            'Category window not found or access denied.' AS Message;
        RETURN;
    END
    
    UPDATE CategoryWindows
    SET 
        DisplayName = ISNULL(@DisplayName, DisplayName),
        Description = ISNULL(@Description, Description),
        ColorTheme = ISNULL(@ColorTheme, ColorTheme),
        PositionX = ISNULL(@PositionX, PositionX),
        PositionY = ISNULL(@PositionY, PositionY),
        Width = ISNULL(@Width, Width),
        Height = ISNULL(@Height, Height),
        IsMinimized = ISNULL(@IsMinimized, IsMinimized),
        ZIndex = ISNULL(@ZIndex, ZIndex),
        LastEdit = GETDATE()
    WHERE WindowID = @WindowID;
    
    SELECT 
        CAST(1 AS BIT) AS Success,
        'Category window updated successfully.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_UpdateIncome]    Script Date: 11/28/2025 6:08:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spmb_UpdateIncome]
    @IncomeId UNIQUEIDENTIFIER,
    @UserID UNIQUEIDENTIFIER,
    @Description VARCHAR(45) = NULL,
    @Net FLOAT = NULL,
    @Gross FLOAT = NULL,
    @Tithe FLOAT = NULL,
    @TitheStatus VARCHAR(45) = NULL,
    @Date VARCHAR(45) = NULL,
    @PaycheckStatus VARCHAR(45) = NULL,
    @Notes VARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Income WHERE IncomeId = @IncomeId AND UserId = @UserID)
    BEGIN
        SELECT 0 AS Success, 'Income record not found or access denied.' AS Message;
        RETURN;
    END

    UPDATE Income
    SET 
        Description = ISNULL(@Description, Description),
        Net = ISNULL(@Net, Net),
        Gross = ISNULL(@Gross, Gross),
        Tithe = ISNULL(@Tithe, Tithe),
        TitheStatus = ISNULL(@TitheStatus, TitheStatus),
        Date = ISNULL(@Date, Date),
        PaycheckStatus = ISNULL(@PaycheckStatus, PaycheckStatus),
        Notes = ISNULL(@Notes, Notes),
        LastEdit = GETDATE()
    WHERE IncomeId = @IncomeId;

    SELECT 1 AS Success, 'Income record updated successfully.' AS Message;
END;






GO
/****** Object:  StoredProcedure [dbo].[spmb_UpdateTransaction]    Script Date: 11/28/2025 6:08:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update transaction by ID
CREATE   PROCEDURE [dbo].[spmb_UpdateTransaction]
    @TransactionId UNIQUEIDENTIFIER,
    @Description   VARCHAR(150) = NULL,  -- Updated from VARCHAR(35) to VARCHAR(150)
    @Amount        FLOAT       = NULL,
    @Due           DATETIME    = NULL,
    @Date          DATETIME    = NULL,
    @Notes         VARCHAR(60) = NULL,
    @Category      VARCHAR(20) = NULL,
    @Status        VARCHAR(20) = NULL,
    @UserID        UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE dbo.Transactions
        SET
            Description  = COALESCE(@Description, Description),
            Amount       = COALESCE(@Amount, Amount),
            Due          = COALESCE(@Due, Due),
            Date         = COALESCE(@Date, Date),
            Notes        = COALESCE(@Notes, Notes),
            Category     = COALESCE(@Category, Category),
            Status       = COALESCE(@Status, Status),
            LastEdit     = GETDATE()
        WHERE
            TransactionId = @TransactionId AND UserID = @UserID;

        IF @@ROWCOUNT = 0
        BEGIN
            SELECT 0 AS Success, 'No matching transaction found or no changes made.' AS Message;
            RETURN;
        END

        SELECT 1 AS Success, 'Transaction updated successfully.' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_UpdateUser]    Script Date: 11/28/2025 6:08:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update existing user
CREATE   PROCEDURE [dbo].[spmb_UpdateUser]
    @UserId         UNIQUEIDENTIFIER,
    @Pass           VARCHAR(16)  = NULL,
    @Email          VARCHAR(45)  = NULL,
    @Name           VARCHAR(25)  = NULL,
    @Validated      TINYINT      = NULL,
    @ValidationCode UNIQUEIDENTIFIER = NULL  -- Updated to match rest of schema
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE dbo.Users
        SET
            Pass           = COALESCE(@Pass, Pass),
            Email          = COALESCE(@Email, Email),
            Name           = COALESCE(@Name, Name),
            Validated      = COALESCE(@Validated, Validated),
            ValidationCode = COALESCE(@ValidationCode, ValidationCode),
            LastEdit       = GETDATE()
        WHERE UserId = @UserId;

        IF @@ROWCOUNT = 0
        BEGIN
            SELECT 0 AS Success, 'User not found or no changes made.' AS Message;
            RETURN;
        END

        SELECT 1 AS Success, 'User updated successfully.' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
    END CATCH
END;


GO
/****** Object:  StoredProcedure [dbo].[spmb_UpdateUserPassword]    Script Date: 11/28/2025 6:08:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update user password and validated status
CREATE   PROCEDURE [dbo].[spmb_UpdateUserPassword]
    @UserID        UNIQUEIDENTIFIER,
    @NewPassword   VARCHAR(16)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE dbo.Users
        SET 
            Pass = @NewPassword,
            Validated = 1,
            LastEdit = GETDATE()
        WHERE UserID = @UserID;

        IF @@ROWCOUNT = 0
        BEGIN
            SELECT 0 AS Success, 'User not found or password not updated.' AS Message;
            RETURN;
        END

        SELECT 1 AS Success, 'Password updated successfully.' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_UpdateValidationCode]    Script Date: 11/28/2025 6:08:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update validation code and reset validated flag
CREATE   PROCEDURE [dbo].[spmb_UpdateValidationCode]
    @UsernameOrEmail VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewCode UNIQUEIDENTIFIER = NEWID();

    UPDATE dbo.Users
    SET 
        ValidationCode     = @NewCode,
        Validated          = 0,
        ValidationExpires  = DATEADD(MINUTE, 10, GETDATE()),
        LastEdit           = GETDATE()
    WHERE Username = @UsernameOrEmail OR Email = @UsernameOrEmail;

    IF @@ROWCOUNT = 0
    BEGIN
        SELECT 
            CAST(0 AS INT) AS Success, 
            CAST('Username or email not found.' AS VARCHAR(100)) AS Message;
        RETURN;
    END

    SELECT 
        CAST(1 AS INT) AS Success, 
        CAST('Validation code updated successfully.' AS VARCHAR(100)) AS Message, 
        @NewCode AS ValidationCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_UpdateWindowPositions]    Script Date: 11/28/2025 6:08:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Bulk update window positions (for drag operations)
CREATE PROCEDURE [dbo].[spmb_UpdateWindowPositions]
    @UserID UNIQUEIDENTIFIER,
    @WindowUpdates NVARCHAR(MAX) -- JSON array of window updates
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Parse JSON and update multiple windows at once
    UPDATE cw
    SET 
        PositionX = CAST(JSON_VALUE(wu.value, '$.positionX') AS INT),
        PositionY = CAST(JSON_VALUE(wu.value, '$.positionY') AS INT),
        ZIndex = CAST(JSON_VALUE(wu.value, '$.zIndex') AS INT),
        LastEdit = GETDATE()
    FROM CategoryWindows cw
    CROSS APPLY OPENJSON(@WindowUpdates) wu
    WHERE cw.WindowID = CAST(JSON_VALUE(wu.value, '$.windowId') AS UNIQUEIDENTIFIER)
        AND cw.UserID = @UserID;
    
    SELECT 
        CAST(1 AS BIT) AS Success,
        'Window positions updated successfully.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[spmb_VerifyEmailWithCode]    Script Date: 11/28/2025 6:08:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spmb_VerifyEmailWithCode]
    @Email VARCHAR(45),
    @ValidationCode UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @UserId UNIQUEIDENTIFIER,
        @Validated INT,
        @ExpireDate DATETIME,
        @StoredCode UNIQUEIDENTIFIER;

    -- Find the user by email
    SELECT 
        @UserId = UserId,
        @Validated = Validated,
        @ExpireDate = ValidationExpires,
        @StoredCode = ValidationCode
    FROM dbo.Users
    WHERE Email = @Email;

    -- Check if user exists
    IF @UserId IS NULL
    BEGIN
        SELECT 
            0 AS Success,
            'Email not found.' AS Message;
        RETURN;
    END

    -- Check if already validated
    IF ISNULL(@Validated, 0) = 1
    BEGIN
        SELECT 
            0 AS Success,
            'Email is already verified.' AS Message;
        RETURN;
    END

    -- Check if validation code matches
    IF @StoredCode IS NULL OR @StoredCode != @ValidationCode
    BEGIN
        SELECT 
            0 AS Success,
            'Invalid verification code.' AS Message;
        RETURN;
    END

    -- Check if code has expired
    IF @ExpireDate IS NOT NULL AND @ExpireDate < GETDATE()
    BEGIN
        SELECT 
            0 AS Success,
            'Verification code has expired. Please request a new one.' AS Message;
        RETURN;
    END

    -- Validate the user
    UPDATE dbo.Users
    SET 
        Validated = 1,
        LastEdit = GETDATE()
    WHERE UserId = @UserId;

    SELECT 
        1 AS Success,
        'Email verified successfully. You can now log in.' AS Message,
        @UserId AS UserId;
END;
GO
